#nav-menu {
  padding: 10px;
  font-family: $main-ff;
  // z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #333;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 
  li {
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    color: #fff;
    letter-spacing: -0.01em;
    @include sp {
      font-size: 12px;
    }
  }
}