.works-wrapper {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-card {
  width: 32%;
  display: flex;
  margin-bottom: 50px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}